* {
    font-family: 'Rambla', Times, sans-serif;
    list-style-type: none;
}

.body {
    margin: 0;
}

.background {
    background: url("./images/background.jpg") no-repeat;
    background-size: cover;
    min-width: 100px;
    min-height: 800px;
    margin: -8px -8px -6px -6px;
}

.player {
    width: 360px;
    height: 480px;
    position: absolute;
    left: 3%;
    top: 10%;
}

.player-top {
    background: url(./images/cover.png) no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    position: absolute;
}

.player-repeat-nav {
    background-color: rgba(42, 34, 77, 0.6);
    width: 100%;
    height: 13.5%;
    position: absolute;
    border-radius: 25px 25px 0 0;
}

.player-repeat-nav ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-top: 24px;
    margin: 0;
}

.player-repeat-nav img {
    cursor: pointer;
}

#menu-btn {
    position: absolute;
    right: 20px;
}

#center-btn {
    padding-left: 24px;
    padding-right: 22px;
}

.player-song-info {
    background-color: rgba(42, 34, 77, 0.6);
    color: #fff;
    width: 100%;
    height: 13.5%;
    position: absolute;
    bottom: 29.5%;
}

.player-song-info h4, h5 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.player-song-info h5 {
    font-weight: normal;
    font-size: 14px;
}

.player-song-info h4 {
    padding-top: 16px;
}

.player-bottom {
    background-color: #eeeff5;
    width: 100%;
    height: 29.5%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 25px 25px;
}

.player-bottom ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}

.nav-btn {
    padding-top: 54px;
}

.nav-btn:first-child {
    padding-right: 44px;
}

.nav-btn:last-child {
    padding-left: 44px;
}

.center-btn {
    padding: 40px 11px 0 13px;
}

.player-bottom img {
    cursor: pointer;
}

.player-list {
    display: none;
    width: 360px;
    height: 480px;
    background-color: #f3f4f8;
    position: absolute;
    left: 3%;
    top: 10%;
    border-radius: 25px;
}

.first-image {
    right: 62px;
}

.second-image {
    right: 35px;
}

.first-image, .second-image {
    position: absolute;
    cursor: pointer;
}

#songs-container {
    padding-left: 26px;
    height: 370px;
    position: relative;
}

.player-repeat-nav2:after {
    content: "";
    position: absolute;
    top: 360px;
    left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), #f3f4f8);
}

.first-row {
    color: #78747f;
    font-size: 12px;
    padding-top: 24px;
    cursor: pointer;
    width: 283px;
}

.second-row {
    color: #2f1a4b;
    font-size: 16px;
    padding-bottom: 24px;
    cursor: pointer;
    display: block;
    width: 283px;
}

li.first-row:first-child {
    padding-top: 15px;
}

.border-div {
    background-color: #d3d5de;
    height: 1px;
    width: 280px;
}

.player-top2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.player-repeat-nav2 {
    width: 100%;
    height: 13.5%;
    position: absolute;
    border-radius: 25px 25px 0 0;
}

#return-btn {
    position: absolute;
    top: 20px;
    left: 21px;
    cursor: pointer;
}

#playlist-header {
    color: #60558f;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
}